#items li {
    border: black 1px solid;
    background: lightgray;
    height: 50px;
    font-size: 16px;
}

.vcontainer {
    height: 25px;
    width: 100%;
    position: relative;
}

.vcontainer p {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 25%;
  width: 100%;
  transform: translate(0, -50%);
}

.sortable-chosen {
  background-color: lightgray !important;
}

.sortable-ghost {
  background-color: gray !important;
}

.form-section.current {
  display: block;
}

.form-section {
  display: none;
}

#hidden-input{
  display: none;
}

.page1-side-by-side{
  height: 320px !important;
}


.page1-side-by-side{
  padding-top: 15px;
}

img.page1-logo{
  left: 0px;
  bottom: 50px;
  position: absolute;
}

.header{
  background: rgb(0, 150, 136);
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
}

.survey-box {
    margin-top: 40px;
    background: white;
    border-color: black;
    border-width: 2px;
    border-style: dotted;
    padding: 20px;
}
